.curved-loop-jacket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 4.5rem;
  fill: currentColor;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}
